@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,500&display=swap'); // * {
$colorV:#00BFA6;
$colorOr:#F9A826;
$colorR:#F50057;
$colorW:#FFFFFF;
$colorB:rgba(0, 0, 0, 0.527);
$colorX:#ccc;

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    background-color: $colorV;
    padding: 1.5em 2.5em;

    .logo {
        font-size: 2vw;
    }

    .inscr {
        font-size: 1vw;
        text-decoration: none;
        font-weight: 700;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: $colorV;
    padding: 1em 2em;

    &__text {
        width: 50%;

        h1 {
            margin-top: 2em;
            font-size: 2.5vw;
            color: white;
            font-weight: bold;
            width: 97%;
            padding-bottom: .7em;
        }

        p {
            font-size: 1.5vw;
            color: white;
            font-weight: 500;
            width: 97%;
        }

        a {
            color: white;
            position: relative;
            top: 2em;
            font-size: 1vw;
            background-color: $colorOr;
            text-decoration: none;
            padding: 1vw 3vw;
            border-radius: 2em;
            font-weight: 700;
        }

    }

    &__img {
        width: 50%;
    }
}

@media only screen and (max-width:500px) {
    .Navbar {
        display: flex;
        justify-content: space-between;
        background-color: $colorV;
        padding: 1em 2.5em;

        .logo {
            font-size: 2vw;
        }

        .inscr {
            font-size: 2vw;

        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        background-color: $colorV;
        padding: 0em 1em 2em 1em;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        text-align: center;

        &__text {
            width: 100%;

            h1 {
                margin-top: 1em;
                font-size: 3vw;
                color: white;
                font-weight: bold;
                width: 97%;
                padding-bottom: .7em;
            }

            p {
                font-size: 1.6vw;
                color: white;
                font-weight: 500;
                width: 97%;
            }

            a {
                color: white;
                position: relative;
                top: 0em;
                font-size: 1vw;
                background-color: $colorOr;
                text-decoration: none;
                padding: 1vw 3vw;
                border-radius: 2em;
                font-weight: 700;
            }

        }

        &__img {
            width: 50%;
            height: 40%;
            position: relative;
            left: 22%;
        }


    }
}

.sec2 {
    padding: 1em;
    background-color: $colorOr;

    .asec2 {
        background-color: $colorV;
    }
}

@media only screen and (max-width:500px) {
    .sec2 {
        padding: 1em;
        background-color: $colorOr;
        display: flex;
        flex-direction: column;

        .asec2 {
            background-color: $colorV;
        }
    }
}

.sec3 {
    padding: 2em;
    background-color: $colorR;

    .asec3 {
        background-color: $colorV;
    }

}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $colorV;
    padding: 2em 3em 1em 3em;

    &__info {
        padding: 0em 0em 0em 1em;

        h1 {
            color: $colorW;
        }

        h3 {
            color: $colorW;
            font-size: 1em;
        }
    }

    &__serv {
        padding-top: 2em;

        .a1 {
            color: white;
            font-size: 1vw;
            background-color: $colorOr;
            text-decoration: none;
            padding: 1vw 3vw;
            border-radius: 2em;
            font-weight: 700;
            margin-right: 3em;
        }

        .a2 {
            color: white;
            font-size: 1vw;
            background-color: $colorR;
            text-decoration: none;
            padding: 1vw 3vw;
            border-radius: 2em;
            font-weight: 700;
        }
    }

    &__social {
        img {
            width: 30%;
        }
    }
}

@media only screen and (max-width:500px) {
    .footer {

        &__serv {
            padding-top: 0em;
        }

        &__social {
            img {
                width: 15%;
            }
        }
    }
}

.container {
    margin: 2em auto;
    max-width: 71vw;
    box-shadow: 6px 7px 19px 3px rgba(149, 152, 154, 0.554);
    padding: 3em;
    border-radius: .3em;

    .check {

        input {
            border: 2px solid $colorOr;
            border-radius: 5px;
            padding: 5px;
            font-weight: 600;
            width: 15%;
        }

        label {
            font-weight: 700;
            padding: 1em;
        }
    }
}

hr {
    width: 7vw;
    border: 2px solid $colorOr;
}

.h2demnd {
    font-size: 1.3vw;
}

.activité {
    color: rgba(149, 152, 154, 0.781);
    display: flex;
    justify-content: center;
    align-items: center;
}

.agenda {
    text-align: center;
    padding-bottom: 3em;

    iframe {
        width: 76vw;
    }
}

.PRGRS {
    margin-left: 4em;
}

.hr2 {
    width: 18vw;
    border: 2px solid $colorOr;
}

.progress__bar {
    display: inline-block;
    width: 20%;
    height: 18px;
    border-radius: 20px;
    border: 1px solid $colorOr;
    background-color: $colorW;

    .bar {
        height: 100%;
        width: calc(1* calc(100% / 22));
        background-color: $colorR;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
}

.prgrsNum {
    display: inline-block;
    position: relative;
    left: 21vw;
    bottom: 1.7vw;
}

.addscience {
    color: white;
    font-size: 1vw;
    background-color: $colorOr;
    text-decoration: none;
    padding: 1vw 3vw;
    border-radius: 2em;
    font-weight: 700;
    margin-top: 1em;
    position: relative;
    top: 1vw;

    img {
        width: 1.5vw;
    }
}

// popup ::::::::::::::::::=>


#popup {
    width: 100%;
    height: 400%;
    position: absolute;
    top: 0%;
    background-color: $colorB;
    z-index: 1111;
    display: none;
}

.close {
    position: absolute;
    top: 16em;
    left: 87em;
    z-index: 2222;
}

.h1pop {
    font-size: 2em;
    font-weight: bold;
}

span {
    font-size: 12px;
}

.apop {
    color: $colorB;
    font-size: 1vw;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid $colorOr;
    background-color: $colorOr;
    color: #FFFFFF;
    font-size: .9vw;
    font-weight: bold;
    padding: .5vw 2vw;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: $colorW;
}

form {
    background-color: $colorW;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.input2 {
    background-color: $colorW;
    border: 1px solid $colorOr;
    padding: 1vw 2vw;
    margin: 8px 0;
    width: 100%;
}

.container2 {
    background-color: $colorW;
    border-radius: 10px;
    box-shadow: 0 14px 28px $colorX,
        0 10px 10px $colorX;
    overflow: hidden;
    width: 55em;
    min-height: 37em;
    position: relative;
    top: 13vw;
    left: 30vw;

}

@media only screen and (max-width:1700px) {
    .h1pop {
        font-size: 2em;
        font-weight: bold;
    }

    .close {
        position: absolute;
        top: 11em;
        left: 56em;
        z-index: 6666;
    }

    .container2 {
        background-color: $colorW;
        border-radius: 10px;
        box-shadow: 0 14px 28px $colorX,
            0 10px 10px $colorX;
        overflow: hidden;
        width: 40em;
        min-height: 30em;
        position: relative;
        top: 10vw;
        left: 20vw;

    }
}

@media only screen and (max-width:1000px) {
    .h1pop {
        font-size: 1.5em;
        font-weight: bold;
    }

    .close {
        position: absolute;
        top: 11em;
        left: 35em;
        z-index: 2222;
    }

    .container2 {
        background-color: $colorW;
        border-radius: 10px;
        box-shadow: 0 14px 28px $colorX,
            0 10px 10px $colorX;
        overflow: hidden;
        width: 30em;
        min-height: 28em;
        position: relative;
        top: 17vw;
        left: 15vw;

    }
}

@media only screen and (max-width:700px) {
    .h1pop {
        font-size: 1em;
        font-weight: bold;
    }

    .close {
        position: absolute;
        top: 5em;
        left: 19em;
        z-index: 2222;
    }

    .container2 {
        background-color: $colorW;
        border-radius: 10px;
        box-shadow: 0 14px 28px $colorX,
            0 10px 10px $colorX;
        overflow: hidden;
        width: 22em;
        min-height: 24em;
        position: relative;
        top: 12vw;
        left: 10vw;

    }
}

@media only screen and (max-width:450px) {
    .h1pop {
        font-size: .8em;
        font-weight: bold;
    }

    .close {
        position: absolute;
        top: 5em;
        left: 16em;
        z-index: 2222;
    }

    .container2 {
        background-color: $colorW;
        border-radius: 10px;
        box-shadow: 0 14px 28px $colorX,
            0 10px 10px $colorX;
        overflow: hidden;
        width: 20em;
        min-height: 23em;
        position: relative;
        top: 12vw;
        left: 7vw;

    }
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container2.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container2.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container2.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: $colorR;
    background: -webkit-linear-gradient(to right, $colorOr, $colorR);
    background: linear-gradient(to right, $colorOr, $colorR);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: $colorW;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container2.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container2.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container2.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container a {
    border: 1px solid $colorW;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}